[defaults]
inventory = inventory.ini
roles_path = /home/ubuntu/capstone-project-devops-cicd-ecs/ansible/roles:/home/ubuntu/.ansible/roles
host_key_checking = False
retry_files_enabled = False
interpreter_python = auto_silent
